body {}

.container {
    background-color: skyblue;
    border-radius: 5px;
    border-style: solid;
    width: 400px;
    height: 100px;
}

.box {
    background-color: yellow;
    border-radius: 5px;
    border-style: solid;
    width: 50%;
    height: 50%;
    margin: 10px 50px;
}