body {
    display: flex;
    position: relative;
}

section div {
    height: 100px;
    width: 300px;
    margin: 20px;
    border: 2px solid black;
}

.div1 {
    background: linear-gradient(red, orange);
}

.div2 {
    background: linear-gradient(to bottom right, green, purple);
}

.div3 {
    background: linear-gradient(to top left, grey, pink);
}

.container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}