div {
    height: 100px;
    width: 300px;
    margin: 20px;
    border: 2px solid black;
}

.div1 {
    background: linear-gradient(to right, red, orange);
}

.div2 {
    background: linear-gradient(to bottom right, green, purple);
}

.div3 {
    background: linear-gradient(to left, grey, pink);
}