section {
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 50%;
    margin: 80px auto;
    top: 50vh;
    left: 50vw;
    border-radius: 20px;
    box-shadow: 200px;
    box-shadow: 20px 20px 20px green;
}