.div1 {
    background-color: red;
    height: 100px;
    width: 100px;
    animation-name: agrandar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.div2 {
    background-color: green;
    height: 100px;
    width: 100px;
    animation-name: rotar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.div3 {
    background-color: yellow;
    height: 100px;
    width: 100px;
    animation-name: changecolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes agrandar {
    from {
        width: 100px;
    }

    to {
        width: 200px;
    }
}

@keyframes rotar {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes changecolor {
    0% {
        background-color: skyblue;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: pink;
    }

    75% {
        background-color: white;
    }

    100% {
        background-color: #ff0;
    }
}